<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naver</title>
</head>

<body>
    <table border="1">

        <tr>
            <td><img src="./naver_logo.png" width="200px">
                <textarea cols="50" rows="2"></textarea>
            </td>

            <td>네이버를 시작페이지로 쥬니어네이버 해피빈</td>

        </tr>

        <tr>
            <td colspan="2"> 메일 카페 블로그 지식IN 쇼핑 Pay TV 사전 뉴스 증권 부동산 지도 영화 뮤직 책 웹툰 더보기 </td>
        </tr>
        <tr>
            <td><img src="./naver_ad.png" width="800px"></td>
            <td>로그인 영역이 변경되었습니다. 자세히보기<br>
                <img src="./naver_login.png" width="250px"><br>
                <br>
                <p>아이디 비밀번호 찾기 회원가입</p>
            </td>
        </tr>

        <tr>
            <td>
                <br>
                연합뉴스> 뉴스 제목입니다
                <br><br>
                뉴스스텐드 > 전체언론사ㅣMY뉴스
                <br>
                <img src="./naver_news.png" width="800px">
            </td>

            <td>
                트렌드 쇼핑> <br>
                <br>
                쿠팡 G마켓 옥션 11번가 SSG닷컴 올리브영 <br> 위메프 GS샵 CJ온스타일 패션플러스 CJ더마켓
                <img src="./naver_shopping.png" width="300px">
            </td>
            </td>
        </tr>


        </td>

        <tr>

        </tr>

    </table>
</body>
<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Naver</title>
</head>

<body>
    <table border="1">
        <tr>
            <td><img alt="네이버 로고" src="./naver_logo.png" width="200px" />
                <textarea cols="50" rows="2"></textarea>
            </td>
            <td>네이버를 시작페이지로 쥬니어네이버 해피빈</td>
        </tr>
        <tr>
            <td colspan="2"> 메일 카페 블로그 지식IN 쇼핑 Pay TV 사전 뉴스 증권 부동산 지도 영화 뮤직 책 웹툰 더보기 </td>
        </tr>
        <tr>
            <td><img alt="네이버 광고: 지금 소모임 밴드 만들면 정보 혜택 2배" src="./naver_ad.png" width="800px" /></td>
            <td>로그인 영역이 변경되었습니다. 자세히보기<br />
                <img alt="네이버 로그인" src="./naver_login.png" width="250px" /><br />
                <br />
                <p>아이디 비밀번호 찾기 회원가입</p>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                연합뉴스&gt; 뉴스 제목입니다
                <br /><br />
                뉴스스텐드 &gt; 전체언론사ㅣMY뉴스
                <br />
                <img alt="네이버 뉴스 바로가기" src="./naver_news.png" width="800px" />
            </td>
            <td>
                트렌드 쇼핑&gt; <br />
                <br />
                쿠팡 G마켓 옥션 11번가 SSG닷컴 올리브영 <br /> 위메프 GS샵 CJ온스타일 패션플러스 CJ더마켓
                <img alt="네이버 쇼핑 바로가기" src="./naver_shopping.png" width="300px" />
            </td>

        </tr>

        <tr>
        </tr>
    </table>
</body>

</html>

</html>